.about-image{
  width: 100%;
}

.button-option{
cursor:pointer;
padding: 10px;  
box-shadow: 1px 1px 5px gray;
}
.danger-t{
color: red;
  animation-name: danger-text;
  animation-duration: 1s;
}
.succes-t{
color: green;
  animation-name: success-text;
  animation-duration: 1s;
}

@keyframes success-text {
  from {color: green;}
  to {color: black;}
}
@keyframes danger-text {
  from {color: red;}
  to {color: black;}
}



.huge{
height: 40px;
}

.danger{
color: red}
.success{
color: green}

.column-30{
width:30%
}
.column-20{
width:20%
}
.column-40{
width:40%
}
.hidden{
display: none}

.filter-label{
display:none}

.carousel-caption-proyect-model {
  position: relative;
  color: black;
  text-align: left;
  padding-left: 0px;
  margin-left: 0px
}

.mh-400{
  max-height: 400px;
}
.mg-300{
    max-height: 300px;
}
.fit-image{
  object-fit: cover;
}

.mw-500{
  max-width: 800px
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.video-project{
    width:100%;
    height:500px;
}

.nav-link{
cursor: pointer;}

.card-text{
   text-overflow: ellipsis;
   }

.navbar{
  box-shadow: 1px 1px 10px gray;
}

.cardText{
  max-height: 170px; 
text-overflow: ellipsis;
overflow: hidden;
}



.card-img{
    height: 200px;
}
.navbar-logo{
  height: 24px;
  margin-right: 4px;
}
.card-image-project{
    height: 200px;
    object-fit: cover;  position: absolute;
    margin: 4px;
  bottom: 4px;
  margin-left: auto;
  width: 90%;
}

.card-title{
    font-size: 20px;
    height: 26px;
text-overflow: ellipsis;
overflow: hidden;

}
h1{
  /* text-align: center; */
  margin-top: 40px;
  padding: 10px;
}